* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: .7rem;
}

body {
  background: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 10%;
  background: #000000;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .dropdown {
  position: relative;
}

.header .navbar .dropdown button {
  margin-left: .9rem;
  background-color: #000000;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

.header .navbar .dropdown button:focus + ul {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.header .navbar .dropdown button:hover {
  color: #ff7800;
}

.header .navbar .dropdown ul {
  position: absolute;
  list-style: none;
  margin-top: 0.9rem;
  background-color: #000000;
  padding-bottom: 1rem;
  border-radius: 0.3rem;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .navbar .dropdown ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.9rem;
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: white;
}

.header .navbar a:hover {
  color: #ff7800;
}

.header .icons div {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: .5rem;
  background: white;
  color: #000000;
  font-size: 2rem;
  margin-left: .3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover {
  background: #ff7800;
  color: white;
}

.header .search-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 50rem;
  height: 5rem;
  background: white;
  border-radius: .5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.2rem solid #000000;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 15px;
  color: #000000;
  padding: 0 1.5rem;
}

.header .search-form label {
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: #000000;
  cursor: pointer;
}

.header .search-form label:hover {
  color: #ff7800;
}

.header .search-form.active {
  right: 2rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.header .login-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 30rem;
  padding: 2rem;
  border-radius: .5rem;
  background: white;
  text-align: center;
  border: 0.2rem solid #000000;
}

.header .login-form .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  font-size: 15px;
  border-radius: .5rem;
  border: 0.2rem solid #000000;
  color: #000000;
  cursor: pointer;
  background: none;
}

.header .login-form .btn:hover {
  background: #ff7800;
  color: white;
}

.header .login-form.active {
  right: 2rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.header .login-form.active p {
  font-size: 15px;
}

#menu-btn {
  display: none;
}

.wishlist-section {
  margin-top: 11rem;
  width: 100%;
  padding: 0 10vw;
  margin-bottom: 15rem;
}

.wishlist-section .product-list {
  width: 90%;
}

.wishlist-section .product-list .section-heading {
  font-size: 5rem;
  margin: 3rem 0;
  text-transform: capitalize;
}

.wishlist-section .product-list .cart {
  width: 100%;
  padding: 3rem 0;
  border-radius: .5rem;
  border: 0.2rem solid #000000;
  margin-bottom: 5rem;
}

.wishlist-section .product-list .cart .empty-img {
  width: 100%;
  display: none;
}

.wishlist-section .product-list .cart .img-box {
  width: 100%;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 4rem;
}

.wishlist-section .product-list .cart .img-box:last-child {
  margin-bottom: 0rem;
}

.wishlist-section .product-list .cart .img-box .img-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wishlist-section .product-list .cart .img-box .img-and-text .img-product {
  height: 10rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.wishlist-section .product-list .cart .img-box .img-and-text .text .product-brand {
  font-size: 2rem;
}

.wishlist-section .product-list .cart .img-box .img-and-text .text .product-name {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.wishlist-section .product-list .cart .img-box .product-price {
  font-size: 2.5rem;
  padding: 0 2rem;
}

.wishlist-section .product-list .cart .img-box .delete-btn {
  position: absolute;
  top: -1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 0.2rem solid #000000;
}

footer {
  background: #000000;
}

footer .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .box-container img {
  margin-top: 1rem;
}

footer .box-container .box p {
  line-height: 1.8;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
}

footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: .5rem;
  font-size: 2rem;
  color: #000000;
  margin-right: .2rem;
  background: white;
  text-align: center;
}

footer .box-container .box .share a:hover {
  background: #ff7800;
  color: white;
}

footer .box-container .box .title {
  font-size: 2rem;
}

footer .box-container .box .links {
  display: block;
  font-size: 15px;
  color: white;
  padding: .5rem 0;
}

footer .box-container .box .links i {
  color: #ff7800;
}

footer .box-container .box .links:hover i {
  padding-left: .55rem;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  .header section {
    padding: 2rem;
  }
  .wishlist-section {
    margin-bottom: 30rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .search-form {
    width: 90%;
  }
  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    border-radius: .5rem;
    background: white;
  }
  .header .navbar .newa {
    padding-bottom: 10px;
  }
  .header .navbar.active {
    right: 2rem;
    -webkit-transition: .4s linear;
    transition: .4s linear;
    display: block;
  }
  .header .navbar.active ul {
    position: relative;
    list-style: none;
    background-color: white;
    opacity: 1;
  }
  .header .navbar.active button {
    display: none;
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
    color: #000000;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  footer .box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .box-container .box {
    margin-top: 3rem;
  }
  footer .box-container .box p {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */